<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008027347838-j95c2b9h55jgbg1ocgg9niitgfn7t77r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008027347838-j95c2b9h55jgbg1ocgg9niitgfn7t77r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008027347838-1jjd1959poe8mrqd6eivenl5npa2t4g5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1KYpetV8zKRd2OdNw7aqYj7JsPSUYr3o</string>
	<key>GCM_SENDER_ID</key>
	<string>1008027347838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myEnrich</string>
	<key>PROJECT_ID</key>
	<string>enrich-e7c1e</string>
	<key>STORAGE_BUCKET</key>
	<string>enrich-e7c1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008027347838:ios:9c2327ac707487c1d0a12f</string>
</dict>
</plist>